html {
  font-family: sans-serif;
  text-align: left;
}

body {
  padding: 16px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
}

.file-explorer {
  width: 400px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.file-explorer ul {
  list-style: none;
}

.file-explorer .file,
.folder-header {
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.file-explorer .file:hover,
.folder-header:hover {
  background-color: #eaeaea;
}

.file-explorer .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.file-explorer .nested {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px dashed #ccc;
}
